@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic|Noto+Sans+KR|Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #F5F5F5;
  font-family: 'Noto Sans KR', 'Roboto', 'Nanum Gothic', sans-serif;
}

/* navbar starts */

.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  background-color: #F5F5F5;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 60px;
  padding: 10px 20px;
}

a {
  text-decoration: none;
  color: black;
}

.topnav .boardlist {
  height: 40px;
}

.logo {
  height: 40px;
}

/* navbar profile starts */
.user-box {
  width: 130px;
  text-align: center;
  font-size: 13px;
}

.user-box em {
  font-style: normal;
  color: #3797f4;
}

#clickbox1,
#clickbox2 {
  position: relative;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 30px;
}

.user-box::after {
  position: absolute;
  top: 35%;
  background: url('icon-btn-userinfo-open.png') no-repeat;
  content: '';
  width: 9px;
  height: 7px;
  margin-left: 25px;
}

#clickbox2 .user-box::after {
  background: url('icon-btn-userinfo-close.png') no-repeat;
  background-size: contain;
}

.profile-set {
  display: inline-block;
}

#profile-layer {
  display: none;
  position: absolute;
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, .12);
  z-index: 1030;
  margin-top: -45px;
  margin-left: -16px;
  background-color: white;
  padding: 16px 27px 16px 16px;
}

#logout button {
  border: none;
  font-family: 'Noto Sans KR', 'Roboto', 'Nanum Gothic', sans-serif;
  display: block;
  width: 100%;
  background-color: white;
  cursor: pointer;
  font-size: 13px;
}

#logout button:focus {
  outline: 0;
}

#logout .change-pw {
  display: block;
  width: 65%;
  font-size: 13px;
  height: auto;
  margin: 36px auto 20px;
}

#logout .icon-change-pw {
  display: inline-block;
  background: url('icon-head-member-info.jpg');
  background-size: contain;
  margin-right: 12px;
  width: 22px;
  height: 22px;
  vertical-align: middle;
}

#logout .icon-logout {
  display: inline-block;
  background: url('icon-head-logout.jpg');
  background-size: contain;
  margin-right: 40px;
  width: 22px;
  height: 22px;
  vertical-align: middle;
}

#hamburger {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 10px;
  margin: 0 -5px;
  cursor: pointer;
}

.hamburger-icon {
  background: url('icon-mobile-overlay-btn.png') no-repeat;
  background-size: contain;
  width: 18px;
  height: 15px;
}

#dropdown-mobile {
  display: none;
  flex-flow: column wrap;
  position: fixed;
  top: 0;
  margin-top: 60px;
  z-index: 1030;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  width: 100%;
  height: 200px;
  padding: 10px 20px;
  opacity: 0;
}

#dropdown-mobile.show {
  display: flex;
}

.dropdown-menu {
  padding: 10px;
}

.dropdown-menu:hover {
  color: #3395f4;
}
/* navbar profile ends */

.boardlists {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  width: 50%;
  min-width: 430px;
}

.boardlist li {
  width: 25%;
  text-align: center;
}

.boardlist:hover {
  color: #3395f4;
}

.links {
  display: flex;
  margin-right: -60px;
  width: 300px;
}

.links .link {
  display: flex;
  height: 100px;
  width: 100px;
  justify-content: center;
  align-items: center;
  padding: 5px 5px 0 0;
  line-height: 19px;
  font-weight: 700;
}

.edu {
  text-align: right;
  background-color: #3297CE;
  color: #fff;
}

.edu span,
.lab span {
  border-bottom: 2px solid #fff;
  padding: 0 0 8px 10px;
}

.lab {
  text-align: right;
  background-color: #3fce32;
  color: #fff;
}

.job span {
  border-bottom: 2px solid black;
  padding: 0 10px 8px 0;
}

.job {
  text-align: left;
  background-color: #e9eef1;
  color: #1f2328;
}

@media only screen and (max-width: 767px) {
  .boardlists {
    display: none;
  }

  .links {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .topnav {
    padding: 15px 30px;
    height: 100px;
  }

  .logo {
    height: 70px;
  }

  .topnav a {
    height: 70px;
  }

  .user-box {
    width: 65px;
    font-size: 14px;
  }

  .user-box::after {
    top: 45%;
  }

  #clickbox1,
  #clickbox2 {
    padding-left: 30px;
    padding-right: 50px;
  }

  #profile-layer {
    margin-top: -56px;
  }

  #logout .change-pw {
    width: 78%;
  }

  .profile-layer #hamburger {
    display: none;
  }

  .profile-area #hamburger {
    display: none;
  }

  #dropdown-mobile {
    display: none !important;
  }
}

@media only screen and (min-width: 960px) {
  .topnav {
    padding: 15px 60px;
  }
}

@media only screen and (min-width: 1300px) {
  .topnav {
    padding: 15px calc((100% - 1300px) / 2);
  }
}

/* navbar */

.container {
  width: 80%;
  margin: 3rem auto;
}