@media only screen and (min-width: 768px) {
    .btn.new-btn {
        min-width: 100px;
        height: 34px;
    }
}

.new-btn {
    background-color: #3c90e2;
    border: none;
    min-width: 65px;
    height: 30px;
    cursor: pointer;
}

.boardtitlebox {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.normalboard-titlebox {
    background-image: url('bulletin board.jpg');
}

.codeboard-titlebox {
    background-image: url('computer code.png');
}

.questionboard-titlebox {
    background-image: url('questionmark.jpg');
}

.boardtitle {
    margin-top: 0;
    line-height: 150px;
    color: white;
    text-align: center;
    font-weight: 400;
}

.btn,
.btn a {
    color: white;
}

.btn-block {
    text-align: end;
}

.boardheader {
    display: none;
}

.absolute {
    position: absolute;
}

.inline-big, .flex-big, .block-big {
    display: none;
}

.inline-small {
    display: inline;
}

.flex-small {
    display: flex;
}

.block-small {
    display: block;
}

.seperate {
    display: inline-block;
    margin-left: 0.5rem;
    width: 1px;
    height: 10px;
    background-color: grey;
    margin-right: 0.5rem;
}

.postdate {
    color: gray;
    font-size: 90%;
}

.contenttitle:hover {
    color: #3c90e2;
}

.postauthor {
    color: #4b4872;
}

.postinfo {
    justify-content: space-between;
}

.hiticon-small {
    width: 1.2rem;
    height: 1.2rem;
    margin-top: 0.17rem;
    vertical-align: middle;
}

.hitbox {
    height: 1.2rem;
    line-height: 1.2rem;
}

.posthit {
    vertical-align: middle;
}

@media only screen and (min-width: 768px) {
    .boardheader {
        display: flex;
        position: relative;
        border-top: 2px solid black;
        margin-top: 20px;
        font-size: 1.15rem;
        line-height: 4rem;
    }

    .boardheader::after {
        content: "content";
        display: block;
        visibility: hidden;
    }

    .boardheader-number {
        width: 10%;
        left: 3%;
    }

    .boardheader-title {
        width: 50%;
        left: 13%;
    }

    .boardheader-author {
        width: 12%;
        left: 63%;
    }

    .boardheader-date {
        width: 12%;
        left: 75%;
    }
    
    .boardheader-hit {
        width: 10%;
        left: 87%;
    }

    .element {
        text-align: center;
    }

    .boardcontent {
        display: flex;
        position: relative;
        font-size: 1.15rem;
        margin: 0.7rem 0;
        line-height: 1.6rem;
    }

    .boardcontent:hover {
        color: #3c90e2;
    }

    .boardcontent::after {
        content: "content";
        display: block;
        visibility: hidden;
    }

    .boardcontent-number {
        width: 10%;
        left: 3%;
    }

    .boardcontent-title {
        width: 50%;
        left: 13%;
        padding-left: 2rem;
    }

    .boardcontent-author {
        width: 12%;
        left: 63%;
    }

    .boardcontent-date {
        width: 12%;
        left: 75%;
    }
    
    .boardcontent-hit {
        width: 10%;
        left: 87%;
    }

    .inline-small, .flex-small, .block-small {
        display: none;
    }

    .inline-big {
        display: inline;
    }

    .flex-big {
        display: flex;
    }

    .block-big {
        display: block;
    }
}

.boardline {
    margin: 0;
}

.paginator {
    text-align: center;
    margin: 3rem;
}

.paginator-item {
    margin: 0 1rem;
}

.paginator-item:hover {
    color: #3c90e2;
}

.searchbox {
    text-align: center;
    margin-bottom: 5rem;
}

.searchinput {
    padding-left: 1.2rem;
    height: 2.5rem;
    line-height: 2.5rem;
    width: 50%;
    margin-left: -1rem;
}

.searchbtn {
    background-color: #3c90e2;
    color: white;
    border: none;
    min-width: 6rem;
    height: 2.5rem;
    margin-left: 1rem;
    cursor: pointer;
}

.numofcomments {
    font-size: 90%;
    color: gray;
}

.like {
    color: #3c90e2;
    margin-left: 2rem;
    font-size: 90%;
}

.like-sm {
    color: #3c90e2;
    vertical-align: middle;
    margin-left: 1rem;
}