{% extends 'base.html' %}
{% load static %}
{% load martortags %}

{% block title %}
<title>{{ post.title }} - 일반 게시판</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'monokai-sublime.css' %}">
<link rel="stylesheet" href="{% static 'detail.css' %}">
{% endblock %}

{% block contents %}
{% if messages %}
{% for message in messages %}
{% if message.tags %}
<script>
  alert('{{ message }}')
</script>
{% endif %}
{% endfor %}
{% endif %}

<h2 class="detailtitle">{{ post.title }}</h2>
<div class="postdata">
  <h5 class="authordata">{{ post.author }}</h5>
  <div class="seperate"></div>
  <h5 class="datedata">{{ post.created_at|date:'Y.m.d H:i' }}</h5>
</div>
<hr>
<div class="content">
  {{ post.content|safe_markdown }}
</div>
<form action="{% url 'normalboard:create_comments' post.pk %}" method="POST">
  {% csrf_token %}
  {{ commentform.as_p }}
  <button>댓글쓰기</button>
</form>

<div class="comments">
  {% for comment in comments %}
  <p>{{ comment.content }}</p>
  {% endfor %}
</div>

{% if request.user == post.author %}
<div class="btnbox">
<button id="updatebtn">수정</button>
<button id="deletebtn">삭제</button>
</div>
{% endif %}
<a href="{% url 'normalboard:index' %}" class="tolist">목록</a>

<div id="updatebox">
  <form action="{% url 'normalboard:edit' post.pk %}" id="updateform" method="POST">
    {% csrf_token %}
    <label for="password">글 비밀번호 </label>
    <input type="password" name="password" id="password">
  </form>
</div>

<div id="deletebox">
  <form action="{% url 'normalboard:delete' post.pk %}" method="POST" id="deleteform">
    {% csrf_token %}
    <label for="password">글 비밀번호 </label>
    <input type="password" name="password" id="password">
  </form>
</div>


{% endblock %}

{% block script %}
<script src="{% static 'detail.js' %}"></script>
<script src="{% static 'highlight.pack.js' %}"></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
{% endblock %}