{% extends 'base.html' %}

{% block title %}
<title>SSAFY304 일반 게시판</title>
{% endblock %}

{% block contents %}
{% if messages %}
{% for message in messages %}
{% if message.tags %}
<script>
  alert('{{ message }}')
</script>
{% endif %}
{% endfor %}
{% endif %}
<button class="btn new-btn"><a href="{% url 'normalboard:create' %}">글쓰기</a></button>
{% for post in posts %}
<h1><a href="{% url 'normalboard:detail' post.pk %}">제목: {{ post.title }}</a></h1>
<p>내용 : {{ post.content }}</p>
<p>작성 시간: {{ post.created_at }}</p>
<hr>
{% endfor %}
{% endblock %}