{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>SSAFY304 일반 게시판</title>
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'index.css' %}">
{% endblock %}

{% block contents %}
{% if messages %}
{% for message in messages %}
{% if message.tags %}
<script>
  alert('{{ message }}')
</script>
{% endif %}
{% endfor %}
{% endif %}
<div class="normalboard-titlebox">
  <h1 class="boardtitle">일반 게시판</h1>
</div>
<div class="btn-block">
  <button class="btn new-btn"><a href="{% url 'normalboard:create' %}">글쓰기</a></button>
</div>
<!-- 번호 제목 작성자 작성일 조회수 (댓글이랑 좋아요는 나중에 구현하면 제목쪽에 표시) -->
<div class="boardheader">
  <div class="boardheader-number element absolute">번호</div>
  <div class="boardheader-title element absolute">제목</div>
  <div class="boardheader-author element absolute">작성자</div>
  <div class="boardheader-date element absolute">작성일</div>
  <div class="boardheader-hit element absolute">조회수</div>
</div>
<hr class="boardline">

{% for post in posts %}
<a href="{% url 'normalboard:detail' post.pk %}" class="boardcontent">
  <div class="boardcontent-number element absolute">{{ post.pk }}</div>
  <div class="boardcontent-title absolute">{{ post.title }}</div>
  <div class="boardcontent-author element absolute">{{ post.author.last_name }}{{ post.author.first_name }}</div>
  <div class="boardcontent-date element absolute">{{ post.created_at|date:'Y.m.d' }}</div>
  <div class="boardcontent-hit element absolute"></div>
</a>
<!-- <h1><a href="{% url 'normalboard:detail' post.pk %}">제목: {{ post.title }}</a></h1>
<p>내용 : {{ post.content }}</p>
<p>작성 시간: {{ post.created_at }}</p> -->
<hr class="boardline">
{% endfor %}

{% endblock %}