{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>SSAFY304 일반 게시판</title>
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'index.css' %}">
{% endblock %}

{% block contents %}
<div class="normalboard-titlebox">
  <h1 class="boardtitle">일반 게시판</h1>
</div>
<div class="btn-block">
  <button class="btn new-btn"><a href="{% url 'normalboard:create' %}">글쓰기</a></button>
</div>
<!-- 번호 제목 작성자 작성일 조회수 (댓글이랑 좋아요는 나중에 구현하면 제목쪽에 표시) -->
<div class="boardheader">
  <div class="boardheader-number element absolute">번호</div>
  <div class="boardheader-title element absolute">제목</div>
  <div class="boardheader-author element absolute">작성자</div>
  <div class="boardheader-date element absolute">작성일</div>
  <div class="boardheader-hit element absolute">조회수</div>
</div>
<hr class="boardline">

{% for post in page_obj %}
<a href="{% url 'normalboard:detail' post.pk %}" class="boardcontent">
  <div class="boardcontent-number element absolute">{{ post.pk }}</div>
  <div class="boardcontent-title absolute">{{ post.title }} <span class="numofcomments">[{{ post.comment_set.all|length }}]</span> </div>
  <div class="boardcontent-author element absolute">{{ post.author.last_name }}{{ post.author.first_name }}</div>
  <div class="boardcontent-date element absolute">{{ post.created_at|date:'Y.m.d' }}</div>
  <div class="boardcontent-hit element absolute">{{ post.hit }}</div>
</a>
<!-- <h1><a href="{% url 'normalboard:detail' post.pk %}">제목: {{ post.title }}</a></h1>
<p>내용 : {{ post.content }}</p>
<p>작성 시간: {{ post.created_at }}</p> -->
<hr class="boardline">
{% endfor %}

{% if page_obj.has_previous %}
  <a href="?page=1">처음</a>
  <a href="?page={{ page_obj.previous_page_number }}">이전</a>
{% endif %}
<span>전체 페이지 {{ page_obj.paginator.num_pages }}개 중 {{ page_obj.number }}번째 페이지</span>
{% if page_obj.has_next %}
  <a href="?page={{ page_obj.next_page_number }}">다음</a>
  <a href="?page={{ page_obj.paginator.num_pages }}">마지막</a>
{% endif %}

<form action="{% url 'normalboard:search' %}">
  <input type="text" name="query" placeholder="글 제목을 입력하세요.">
  <button>검색</button>
</form>
{% endblock %}