<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="{% static 'login.css' %}">
  <link rel="shortcut icon" type="image/png" href="{% static 'favicons.ico' %}"
</head>

<body>
  {% if messages %}
  {% for message in messages %}
  {% if message.tags %}
  <script>alert('{{ message }}')</script>
  {% endif %}
  {% endfor %}
  {% endif %}
  <form id="loginform" action="{% url 'login'%}" method="POST">
    {% csrf_token %}
    <img src="{% static 'logo3.png' %}" alt="ssafy로고">
    <label for="username">아이디</label>
    <input type="text" id="username" name="username" placeholder="ID">
    <label for="password">비밀번호</label>
    <input type="password" id="password" name="password" placeholder="PASSWORD">
    <button id="submit-btn" type="submit">로그인</button>
  </form>

  <script src="{% static 'login.js' %}"></script>
</body>

</html>