{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>SSAFY304 코드공유 게시판</title>
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'index.css' %}">
{% endblock %}

{% block contents %}
<div class="boardtitlebox codeboard-titlebox">
  <h1 class="boardtitle">코드공유 게시판</h1>
</div>
<form action="{% url 'codeboard:create' %}" class="btn-block">
  <button class="btn new-btn"><a href="{% url 'codeboard:create' %}">글쓰기</a></button>
</form>

<div class="boardheader flex-big">
  <div class="boardheader-number block-big element absolute">번호</div>
  <div class="boardheader-title block-big element absolute">제목</div>
  <div class="boardheader-author block-big element absolute">작성자</div>
  <div class="boardheader-date block-big element absolute">작성일</div>
  <div class="boardheader-hit block-big element absolute">조회수</div>
</div>
<hr class="boardline block-big">

{% for codepost in page_obj %}
<a href="{% url 'codeboard:detail' codepost.pk %}" class="boardcontent flex-big">
  <div class="boardcontent-number block-big element absolute">{{ codepost.pk }}</div>
  <div class="boardcontent-title block-big absolute">{{ codepost.title }} <span
      class="numofcomments inline-big">[{{ codepost.codecomment_set.all|length }}]</span> </div>
  <div class="boardcontent-author block-big element absolute">{{ codepost.author.last_name }}{{ codepost.author.first_name }}
  </div>
  <div class="boardcontent-date block-big element absolute">{{ codepost.created_at|date:'Y.m.d' }}</div>
  <div class="boardcontent-hit block-big element absolute">{{ codepost.hit }}</div>
</a>
<hr class="boardline block-big">
{% endfor %}

{% for codepost in page_obj %}
<a href="{% url 'codeboard:detail' codepost.pk %}">
  <h3 class="block-small contenttitle">{{ codepost.title }}  <span
      class="numofcomments inline-small">[{{ codepost.codecomment_set.all|length }}]</span></h3>
  <div class="postinfo flex-small">
    <div class="codepost-profile block-small">
      <span class="inline-small postauthor">{{ codepost.author.last_name }}{{ codepost.author.first_name }}</span>
      <div class="inline-small seperate"></div>
      <span class="inline-small postdate">{{ codepost.created_at|date:'y.m.d' }}</span>
    </div>
    <div class="hitbox block-small">
    <img src="{% static 'icon_eye.png' %}" alt="조회수아이콘" class="hiticon-small inline-small">
    <span class="inline-small posthit">{{ codepost.hit }}</span>
  </div>
  </div>
</a>
<hr class="block-small">
{% endfor %}

<div class="paginator">
  {% if page_obj.has_previous %}
  <a href="?page=1" class="paginator-item inline-big">처음 <<</a> <a href="?page={{ page_obj.previous_page_number }}"
      class="paginator-item inline-big">이전 <</a> <a href="?page={{ page_obj.previous_page_number }}"
        class="paginator-item inline-small">이전</a>
  {% endif %}
  <span class="current inline-small">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
  <span class="current inline-big">전체 페이지 {{ page_obj.paginator.num_pages }}개 중 {{ page_obj.number }}번째 페이지</span>
  {% if page_obj.has_next %}
  <a href="?page={{ page_obj.next_page_number }}" class="paginator-item inline-big">> 다음</a>
  <a href="?page={{ page_obj.next_page_number }}" class="paginator-item inline-small">다음</a>
  <a href="?page={{ page_obj.paginator.num_pages }}" class="paginator-item inline-big">>> 마지막</a>
  {% endif %}
</div>

<form action="{% url 'codeboard:search' %}" class="searchbox">
  <input type="text" name="query" placeholder="글 제목 입력" class="searchinput">
  <button class="searchbtn">검색</button>
</form>
{% endblock %}